*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo{
    vertical-align: -90%;
    margin-left: 30px;
}

header{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1% 0% 1% 1%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

main{
    background-color: #f6f8f9;
    padding-top: 2%;
    padding-bottom: 2%;
}

nav{
    width: 65%;
    margin: auto;
    padding-left: 40px;
    padding-top: 15px;
    background-color: white;
    height: 50px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}

ul li{
    list-style-type: none;
}

#task{
    background-color: #48adf1;
    color: white;
    padding: 5px;
    border-radius: 7px;
}

#section{
    border: 1px solid lightgrey;
    color: lightgrey;
    padding: 5px;
    border-radius: 7px;
}

section{
    width: 65%;
    margin: auto;
    margin-top: 0.2%;
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: white;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}

h1{
    display: inline-block;
}


.check::before{
    content: '\2713';
    border: 1px solid green;
    border-radius: 50%;
    padding: 3px 3px;
    color: green;
    margin-right: 5px;
}

.cross::before{
    content: '\2715';
    border: 1px solid rgb(255, 0, 0);
    border-radius: 50%;
    padding: 3px 3px;
    color: rgb(255, 0, 0);
    margin-right: 5px;
}

li{
    margin-top: 15px;
}

.arrow{
    font-size: 15px;
}

div{
    margin-top: 40px;
}

.button-blue{
    background-color: #48adf1;
    color: white;
    padding: 5px;
    border-radius: 7px;
}

#button-purple{
    background-color: #9a71e2;
    color: white;
    padding: 5px;
    border-radius: 7px;
}

#button-acqua{
    background-color: #64c0a9;
    color: white;
    padding: 5px;
    border-radius: 7px;
}

#button-orange{
    background-color: #f29e33;
    color: white;
    padding: 5px;
    border-radius: 7px;
}

#button-pink{
    background-color: #d762a0;
    color: white;
    padding: 5px;
    border-radius: 7px;
}

#button-yellow{
    background-color: #b0c926;
    color: white;
    padding: 5px;
    border-radius: 7px;
}